<button class="button1"(click)="dropList1()"
    [ngClass]="{'green' : toggle1}" >GaussElimination</button>
<button class="button1"(click)="dropList2()"[ngClass]="{'green' : toggle2}">GaussJordan</button>

<button class="button1" (click)="dropList3()"  [ngClass]="{'green' : toggle3}">
  <label for="cars">Choose An LU method:</label>
  <select name="LU-list" [(ngModel)]="typeOfLU" >
    <option  value="doolittle">Doolittle Form</option>
    <option value="crout">Crout Form</option>
  </select>
</button>


<button class="button1" (click)="dropList4()" [ngClass]="{'green' : toggle4}">GaussSeidal</button>
<button class="button1" (click)="dropList5()" [ngClass]="{'green' : toggle5}">Jacobi</button>
<br>
<br>


<div  *ngIf="NonDrop" >
<form action = "/cgi-bin/hello_get.cgi" method = "get" >
  Enter Equations and separate them by ,
  <br>
  <textarea rows = "5" cols = "60" name = "description" [(ngModel)]="equations" (click)="dropList6()" >

  </textarea><br>
</form>
Precision:  <input type="number" style="height:50px; width:50px; "  [(ngModel)]="precisionOfResult" (click)="dropList6()" /><br>

<div *ngIf="drop">
  InitialGuess:separete each element by, <input type="text" style="height:50px; width:200px; "  [(ngModel)]="initialGuess" (click)="dropList6()"/>
  Number of Iterations <input type="number" style="height:50px; width:50px; "  [(ngModel)]="numberOfIteration" (click)="dropList6()" />
  absolute Relative Error <input type="number" style="height:50px; width:50px; "  [(ngModel)]="RelativeError" (click)="dropList6()" />
</div>

<button class="button" (click)="submitForm()" [ngClass]="{'green' : toggle6}">Solution</button>

</div>
<hr>
<div style="height:500px; width:300px; " >
{{result}}
{{typeOfLU}}

</div>


