.button1{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 12px;
    cursor: pointer;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 12px 300px;
    cursor: pointer;
}
.green {
    background-color: green;
 }
 
 .red {
    background-color: red;
 }
